
<%- include('partials/header2'); -%>


<div class = "s-container">
<div class = "bg-container">

<h1>WHAT IS YOUR RESOLUTION?</h1>

</div>
</div>


s
<div class = "yellowshadow-container">
<div class = "yellow-container">
<form action="/" method="POST" class="input">
	<input type="text" name="content">
</form>

<div class = "buttonshadow-container">
<div class = "greenbutton-container">
<form>
	<button class="button button1"></button>
</form
</div>
</div>
</div>
