<html>

<head>
  <meta charset="utf-8">

  <title>Select Type</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/typeselect.css">
  <style>
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <script>var addEntry = "<%= function %>";</script>


  <div id="page">
    <input id= "desc-input"placeholder="Helpful description"></input>
    <div id="whole-holder">
      
      <div id="border-holder"></div>
      <div id="box-holder"></div>
      
      <div id="buttons-holder">
        
        <div id="daily-button" class='button whole'>
          <div class="button background"><span id="daily-text" class="button-text">DAILY TASK</span></div>
        </div>
        <div id="dont-do-button" class='button whole'>
          <div class="button background"><span id="donot-text" class="button-text">DON’T DO</span></div>
        </div>
        <div id="goal-button" class='button whole'>
          <div class="button background"><span id="goal-text" class="button-text">GOAL REACHING</span></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let desc;
    document.getElementById('daily-button').addEventListener('click', () => {
      desc =document.getElementById("desc-input").value;
      // addEntry()
    });
    document.getElementById('dont-do-button').addEventListener('click', () => {
      desc =document.getElementById("desc-input").value;
    });
    document.getElementById('goal-button').addEventListener('click', () => {
      desc =document.getElementById("desc-input").value;
      
    });
  </script>
</body>

</html>