<html>

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/typeselect.css">
  <style>
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>



  <div id="e14_32">
    <div id="e14_36">
      <div id="e14_37"></div>
      <div id="e14_38"></div>
      <div id="e14_53">
        <div id="e14_51">
          <div id="e14_41"></div><span id="e14_42">DAILY TASK</span>
        </div>
        <div id="e14_50">
          <div id="e14_45"></div><span id="e14_46">DON’T DO</span>
        </div>
        <div id="e14_52">
          <div id="e14_47"></div><span id="e14_48">GOAL REACHING</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>