<%- include('partials/header'); -%>
<link rel="stylesheet" href="stylesheets/welcome.css">
<div id="e5_2">
  <div id="e7_25"></div>
  <div id="e7_20"></div>
  <span id="e7_18">Happy New Years</span>
  <span id="e7_21">‘s 2021 Resolutions</span>
  <div id="e7_19">
    <form action="/welcome" method="post">
      <input type="text" name="name" value="Name">
    </form>
  </div><span id="e7_42">RESOLUTIONS</span><span id="e7_46">RESOLUTIONS</span><span id="e7_47">RESOLUTIONS</span><span id="e7_43">RESOLUTIONS</span><span id="e7_48">RESOLUTIONS</span><span id="e7_50">RESOLUTIONS</span><span
    id="e7_51">RESOLUTIONS</span><span id="e7_55">RESOLUTIONS</span><span id="e7_56">RESOLUTIONS</span><span id="e7_57">RESOLUTIONS</span><span id="e7_58">RESOLUTIONS</span><span id="e7_60">RESOLUTIONS</span><span id="e7_61">RESOLUTIONS</span><span
    id="e7_62">RESOLUTIONS</span><span id="e7_63">RESOLUTIONS</span>
</div>

<%- include('partials/footer'); -%>
