#e14_32 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:100%;
	height:100%;
	position:absolute;
}
#e14_36 { 
	opacity:1;
	width:972px;
	height:612px;
	position:absolute;
	left:234px;
	top:185px;
}
#e14_37 { 
	background-color:rgba(208.24999898672104, 157.151617705822, 0, 1);
	opacity:1;
	width:945px;
	height:567px;
	position:absolute;
	left:27px;
	top:45px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
}
#e14_38 { 
	background-color:rgba(255, 202.00000315904617, 39.00000147521496, 1);
	opacity:1;
	width:959px;
	height:595.25927734375px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
}
#e14_53 { 
	opacity:1;
	width:816px;
	height:566.2222290039062px;
	position:absolute;
	left:72px;
	top:15px;
}
#e14_51 { 
	opacity:1;
	width:812.447021484375px;
	height:264.22222900390625px;
	position:absolute;
	left:3.552978515625px;
	top:0px;
}
#e14_41 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:812.447021484375px;
	height:117px;
	position:absolute;
	left:0px;
	top:66px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
#e14_42 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:808.89404296875px;
	height:264.22222900390625px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Baloo Paaji;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:150px;
}
#e14_50 { 
	opacity:1;
	width:812.447021484375px;
	height:264.22222900390625px;
	position:absolute;
	left:0px;
	top:152px;
}
#e14_45 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:812.447021484375px;
	height:117px;
	position:absolute;
	left:0px;
	top:66px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
#e14_46 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:808.89404296875px;
	height:264.22222900390625px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Baloo Paaji;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:150px;
}
#e14_52 { 
	opacity:1;
	width:812.447021484375px;
	height:264.22222900390625px;
	position:absolute;
	left:3.552978515625px;
	top:302px;
}
#e14_47 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:812.447021484375px;
	height:117px;
	position:absolute;
	left:0px;
	top:69px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
#e14_48 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:808.89404296875px;
	height:264.22222900390625px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Baloo Paaji;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:150px;
}
